MONGO_URI=mongodb://bhavyashreekp11_db_user:bhavya%40mongodb123@ac-vaa8wj3-shard-00-00.0xgn664.mongodb.net:27017,ac-vaa8wj3-shard-00-01.0xgn664.mongodb.net:27017,ac-vaa8wj3-shard-00-02.0xgn664.mongodb.net:27017/crm_db?ssl=true&replicaSet=atlas-5pkdmd-shard-0&authSource=admin&appName=Cluster0&compressors=zlib
INVENTORY_LOGIN_EMAIL=accounts@synov.in
INVENTORY_LOGIN_PASSWORD=3Vikram@444
INVENTORY_AUTH_SECRET=3RRApkoLayQ0qEA7mzv-xyJrIUqwS21RbWP4MQdhnT1lfcUShOZ2biV2XiGpGTG7
